:root{
  --cor1: #048ABF;
  --cor2: #4EB1D9;
  --cor3: #2C3A40;
  --cor4: #6FBFBF;
  --cor5: #F2E0DF;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.navbar a{
  display: block;
  text-decoration: none;
  padding: 5px;
  font-weight: 300;
}

.navbar a:hover{
  background: linear-gradient(135deg, #048ABF 0%, #4EB1D9 100%);
}

@media(max-width: 768px){
  
}

@media(max-width: 480px){
  
}