:root{
  --cor1: #048ABF;
  --cor2: #4EB1D9;
  --cor3: #2C3A40;
  --cor4: #6FBFBF;
  --cor5: #F2E0DF;
}

*{
  margin: 0;
  padding: 0;
}

.grid-container{
  display: grid;
  min-height: 100vh;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas: 
    "cabecalho navegacao"
    "conteudo conteudo"
    "rodape rodape";
}

Header{
  grid-area: cabecalho;
}

Navbar{
  grid-area: navegacao;
}

Main {
  grid-area: conteudo;
}

Footer{
  grid-area: rodape;
}

@media(max-width: 700px){
  body{
    grid-template-columns: 1fr;
    grid-template-rows: 80px 80px 1fr 100px;
    grid-template-areas: 
      "cabecalho"
      "navegacao"
      "conteudo"
      "rodape";
  }

  /* Header{
    display: none;
  } */
}
